{% include "Layout/header.html" %}
<div class="container">
<!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Hello, BULL!</h1>
    <p>Bull Framework 是一个为PHP 5.3打造的一个框架，它基于<a href="http://solarphp.cn">Solar</a>和<a href="http://bullsoft.org/auraphp/">Aura</a>。BULL项目刚启动不久，正在紧张地开发中。欢迎大家分支Bull系统，并帮助我们为PHP 5.3+保持和维护高品质的代码。</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>PHP 5.3+</h2>
      <p>Bull项目充分利用PHP 5.3+的特性。这意味着匿名函数、闭包、静态延迟绑定以及其他PHP < 5.2.x不具备的特性。特别是：
      <ul>
        <li>全局的抽象单例基类。</li>
        <li>基于闭包的资源延迟加载。</li>
        <li>方便的操作符和常量，如："?:"以及"__DIR__"等。</li>
      </ul>
      </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>自完备性</h2>
      <p>为了达到“类库第一”的目标，所有包都是自完备的，且提供独立下载。某些情况下，包的独立性可能会导致不同包之间会存在重复代码。其他情况下，可能需要数据传送对象在不同包之前传递信息，这样才能做到真正的独立，让开发者在其他代码库中也能轻松使用。<br />
      有些时候，不可能做到完全的自完备。在这些情况下，我们将会尽量最少地依赖外部包。 </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>转换优先</h2>
      <p>所有类优先考虑从Solar和Aura中转换。
      <ul>
        <li>首先是WEB应用的动态调度周期：引导程序、前端控制器、页面控制器和视图。</li>
        <li>其次是CLI及其支撑类。</li>
        <li>基于包的CLI控制器。</li>
        <li>本地化应该是包级别的，而不是类级别。</li>
        <li>让CLI和WEB控制器共享相同词汇和执行模式。</li>
      </ul></p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>

{% include "Layout/footer.html" %}