/*导航条*/
.nav-wapper{background-color: rgba(0,170,170,.8);width:100%;z-index:1;
	box-shadow:0 1px 3px rgba(0,0,0,.3);
	position: fixed;top:0;left: 0
}
.nav-stance{height: 50px;background-color:rgb(0,170,170)}
.nav{width: 980px;height:50px;margin: 0 auto}
.nav-ul li{float: left;line-height: 50px;margin-right: 20px;font-size: 18px;}
.nav-ul li a{color:#fff;text-decoration: none;height: 50px;display: block;position: relative}
.nav-ul li span{display: block;position: absolute;bottom: 0;left: 0;height: 6px;}
.nav-ul li a:hover{color:#FAB788}
.nav-ul li a:after{
	width: 0;height: 3px;background: #FAB788;display: block;content: "";
	position: relative;
	top: -4px;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}
.nav-ul li a:hover:after{width: 100%}

/*搜索框*/
.uk-navbar-content{margin-top: 5px;width: 240px}
.uk-search-field{border: 1px solid #e7e8e2;border-radius: 3px;background: #ffffff;width: 150px;font-size: 14px;}

/*发布按钮*/
/*.nav .publish{float: left;padding-top: 11px}*/

.login-register{padding-top: 11px;float: right}

.nav-user{float: right;border-right: 1px solid #009f9f}/*#00675c*/
.nav-user .cell{float: right;width: 50px;height: 50px;border-left: 1px solid #009f9f;position: relative}
.nav-user a.info,.nav-user a.publish{cursor:pointer;float:right;position: relative;display: block;width: 50px;height: 50px;}
.nav-user a:hover{background-color: rgba(11,11,11,.2)}
.nav-user .info img{width: 30px;height: 30px;display: block;margin: 10px auto 0;}
.nav-user .info .arrow{position: absolute;bottom: 1px;right: 1px;width: 6px;height: 12px;
	display: block;line-height: 12px;overflow: hidden;
	color:#ffa40d;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform:rotate(45deg)}
.nav-user .publish{font-size: 30px;text-align: center;line-height: 50px;color: #ffa40d}
.nav-user .publish:hover{color: #ffaf26}
.nav-user .uk-dropdown{background-color:rgba(0,170,170,.8)}
.nav-user .uk-dropdown a{color: #ffffff}
.nav-user .uk-dropdown a:hover{background-color: rgba(11,11,11,.2)}