/*导航条*/
.nav-wapper{background-color: rgba(0,170,170,.8);width:100%;z-index:1;
	box-shadow:0 1px 3px rgba(0,0,0,.3);
	position: fixed;top:0;left: 0
}
.nav-stance{height: 50px;background-color:rgb(0,170,170)}
.nav{width: 980px;height:50px;margin: 0 auto}
.nav-ul li{float: left;line-height: 50px;margin-right: 20px;font-size: 16px;}
.nav-ul li a{color:#fff;text-decoration: none;height: 50px;display: block;position: relative}
.nav-ul li span{display: block;position: absolute;bottom: 0;left: 0;height: 6px;}
.nav-ul li a:hover{color:#FAB788}
.nav-ul li a:after{
	width: 0;height: 3px;background: #FAB788;display: block;content: "";
	position: relative;
	top: -4px;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	-ms-transition: width 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}
.nav-ul li a:hover:after{width: 100%}

/*搜索框*/
.uk-navbar-content{margin-top: 5px;width: 240px}
.uk-search-field{border: 1px solid #e7e8e2;border-radius: 3px;background: #ffffff;width: 150px;font-size: 14px;}

/*发布按钮*/
/*.nav .publish{float: left;padding-top: 11px}*/

.login-register{padding-top: 11px;float: right}

.nav-user{float: right;border-right: 1px solid #009f9f}/*#00675c*/
.nav-user .cell{float: right;width: 50px;height: 50px;border-left: 1px solid #009f9f;position: relative}
.nav-user a.info,.nav-user a.publish{cursor:pointer;float:right;position: relative;display: block;width: 50px;height: 50px;}
.nav-user a:hover{background-color: rgba(11,11,11,.2)}
.nav-user .info img{width: 30px;height: 30px;display: block;margin: 10px auto 0;}
.nav-user .info .arrow{position: absolute;bottom: 1px;right: 1px;width: 6px;height: 12px;
	display: block;line-height: 12px;overflow: hidden;
	color:#ffa40d;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform:rotate(45deg)}
.nav-user .publish{font-size: 30px;text-align: center;line-height: 50px;color: #ffa40d}
.nav-user .publish:hover{color: #ffaf26}

.nav-user .shopping-cart-icon{font-size: 30px;text-align: center;line-height: 50px;color: #ffa40d;display: block}
.nav-user .shopping-cart-icon:hover{color: #ffaf26;background: #FFFFFF}
.nav-user .shopping-cart-icon.hover{background: #FFFFFF}
.nav-user .shopping-cart-count{position: absolute;top: 2px;right: 2px;display: block;width: 18px;height: 18px;line-height:18px;border-radius: 50%;text-align: center;background-color: #C91032;color: #FFFFFF;font-size: 12px}


.nav-user .uk-dropdown{background-color:rgba(0,170,170,.8)}
.nav-user .uk-dropdown a{color: #FFFFFF}
.nav-user .uk-dropdown a:hover{background-color:rgba(240,240,240,.3)}
.nav-user .shopping-cart-dropdown a{color: #535353}
.nav-user .shopping-cart-dropdown a:hover{background:none}


.shopping-cart:hover .shopping-cart-icon{background: #FFFFFF}
.shopping-cart-dropdown{width: 400px;border: 1px solid #009f9f;border-top:none;margin-right: -1px}
.nav-shopping-cart-list{border-top: 1px solid #c3c3c3;padding-top: 10px;margin-top: 10px;max-height: 315px;overflow: auto}
.nav-user .shopping-cart-dropdown{background: none;padding: 0}

.nav-shopping-cart-box{background: #FFFFFF;}
.nav-shopping-cart-box .tit{padding: 15px 0 5px 15px}
.shopping-cart-el{padding: 10px 15px 15px 15px;border-bottom: 1px dotted #c3c3c3;}
.shopping-cart-el:first-child{padding-top: 0}
.shopping-cart-el:last-child{border-bottom: none}
.shopping-cart-el .img{float: left;}
.shopping-cart-el .name{height: 60px; overflow: hidden;}
.shopping-cart-el .img img{width: 60px;height: 60px}
.shopping-cart-el .info{font-size: 12px;color: #535353;width: 180px;height:60px;overflow:hidden; padding-left: 10px;float: left}
.shopping-cart-el .price-div{float: right;font-size: 12px;}
.shopping-cart-dropdown .shopping-cart-el .price{color: #C91032;font-size: 14px;}
.shopping-cart-dropdown .del-goods{float: right}

.shopping-cart-total-box{background-color: #DFDFDF;padding:15px}
.shopping-cart-total{float: right}
.shopping-cart-total-tip{font-size: 14px;color: #535353;padding-bottom: 15px}
.shopping-cart-total-tip .total-count{color: #C91032;padding:0 2px}
.shopping-cart-total-tip .total-price{color: #C91032;padding-left: 4px;}
.shopping-cart-total-box .shopping-cart-total .ck-btn{font-size: 12px;float: right;color: #FFFFFF}
.shopping-cart-total-box .shopping-cart-total .ck-btn:hover{background-color:#ffad26}


/*未登录购物车*/
.shopping-cart-nologin-box{float: right;padding: 11px 0 10px 0;margin-right:6px; position: relative}
.shopping-cart-nologin{position: relative;padding-right: 28px}
.shopping-cart-nologin span{padding-left: 5px;}
.shopping-cart-nologin .arrow-triangle{
	display:block;
	position:absolute;
	right:10px;
	top:5px
}
.shopping-cart-nologin-box .shopping-cart-count{display: block;position: absolute;top: 10px;left: 0;width: 20px;height: 20px;line-height:20px; border-radius: 50%;background-color: #C91032;color:#FFFFFF;font-size:12px;text-align:center; z-index: 11}
.shopping-cart-nologin-dropdown{padding: 0;width: 380px;}
.shopping-cart-nologin-box:hover{background: #FFFFFF}
.shopping-cart-nologin-box:hover .shopping-cart-nologin{background: #FFFFFF;color: #FFA40D}
.shopping-cart-nologin-box:hover .arrow-triangle{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform:rotate(90deg)}
}











