.main-wapper{margin-top: 40px}
.main{width: 980px;margin: 0 auto;color: #535353}

.goods-content .left{width: 670px}
.goods-detail{width:670px;border:1px solid #dfdfdf;padding-bottom: 40px;background: #FFFFFF}
.goods-detail-inner{min-height: 100px;border-bottom:1px solid #dfdfdf;}
.goods-detail-inner .img{width: 290px;height: 290px;float: left}
.goods-detail-inner .img img{width: 290px;height: 290px;padding: 10px}
.goods-detail-inner .right{padding: 40px 40px 0 20px}
.goods-detail-inner .goods-name{width: 300px;max-height: 40px;margin: 0;overflow: hidden}
.goods-detail-inner .goods-pt{color: #999;font-size: 14px;margin-top: 10px}

.oprate-box{padding-top:10px;}
.oprate-box .oprate{font-size: 20px}
.oprate-box .oprate i{font-style: normal;font-size: 16px}
.oprate-box .oprate a{float: left;text-decoration:none;color:#999999;}
.oprate-box .oprate .star{margin-right: 30px}
.oprate-box .oprate .star:hover{color:#ffbb4d}
.oprate-box .oprate .star.hover:hover{color: #ffbb4d}
.oprate-box .oprate .star.hover:hover span:before{content:"\f006";opacity: .8}
.oprate-box .oprate .collected{color:#FFBB4D}
.oprate-box .oprate .collected span:before{content:"\f005";opacity: 1;}
.oprate-box .oprate .collected:hover{color: #FFBB4D}
.oprate-box .oprate .hover.collected:hover{color: #999999;}
.oprate-box .oprate .hover.collected:hover span:before{content:"\f005";}
.oprate-box .oprate .collected:hover span:before{content:"\f005";}


.oprate-box .oprate .prefer:hover{color:#e74c3c}
.oprate-box .oprate .prefer:hover span:before{content:"\f08a";opacity: .8}
.oprate-box .oprate .prefer.hover:hover{color:#e74c3c}
.oprate-box .oprate .prefer.hover:hover span:before{content:"\f08a";opacity: .8}
.oprate-box .oprate .loved{color:#e74c3c}
.oprate-box .oprate .loved span:before{content:"\f004";opacity: 1;}
.oprate-box .oprate .loved:hover{color: #e74c3c}
.oprate-box .oprate .hover.loved:hover{color: #999999;}
.oprate-box .oprate .hover.loved:hover span:before{content:"\f004";}
.oprate-box .oprate .loved:hover span:before{content:"\f004";opacity:1}


.goods-oprate .unit{float: left;margin-right: 10px;font-size: 12px;padding: 20px 0 0 0}
.goods-oprate .shopping-limitation{background-color: #C91032;opacity: .8}
.goods-oprate .shopping-limitation:hover{opacity: 1}


.goods-detail-inner .orgin{padding-top: 25px;font-size: 12px;color: #999}
.goods-detail-inner .orgin a{padding-left: 10px}

.recom{padding: 20px 30px 0}
.recom .user{font-size: 14px}
.recom .user img{border-radius: 50%;width: 36px;height: 36px}
.recom .user a{color: #ffa40d;text-decoration: none}
.recom .user a:hover{color:#ff5200}
.recom .user a.nick{padding:0 10px;}
.recom .user strong{font-weight: normal;color: #555}

.recom .info{padding:20px 0 0;line-height: 20px;font-size: 14px}
.uk-icon-quote-left:before, .uk-icon-quote-right:before{font-size: 8px;position: relative;top: -4px}


.merchant{border: 1px solid #e8e8e8;margin: 30px 0 70px;background-color: #FFFFFF}
.merchant .hd{background-color: #fbfbfb;height: 60px;padding-left: 20px;line-height: 60px;color: #444444;}
.merchant .hd .count{color: #fff;font-size:22px;background-color: #363636;display: block;height: 60px;float: right;width: 60px;text-align: center}

.merchant-list li{border-top: 1px solid #e8e8e8;height: 50px;line-height: 50px;padding: 0 20px;}
.merchant-list li span{float: left;padding-right: 20px;font-size: 14px}
.merchant-list li .ev-star{margin-top: 17px}
.merchant-list li .price{padding-left: 20px}
.merchant-list li .buy{float: right;padding-right: 10px}
.merchant-list li .buy a{color: #CB4B16}
.merchant-list li .buy a:hover{color: #DA314B}
.merchant-list li .provider{float: right}
.merchant-list li .provider a{border-left: 1px solid #A6B0AC;padding-left: 10px}

.hot-goods{width: 280px;border:1px solid #e8e8e8;overflow: hidden}
.hot-goods .hd{background-color:#fbfbfb;height: 40px;line-height:40px;padding-left: 10px;}
.hot-goods-list{background-color: #FFFFFF;padding: 15px 20px 0;width: 280px}
.hot-goods-list li{float: left;border: 1px solid #DFDFDF;margin: 0 10px 10px 0}
.hot-goods-list .goods-img{width: 70px;height: 70px;opacity: .8}
.hot-goods-list a:hover .goods-img{opacity:1}
