{% extends "Demo/index.html" %}
{% block content %}
<div class="page-header">
  <h1>骚牛 - 数据库插入演示</h1>
</div>
<form method="POST" action="demo/create#" target="pframe">
  <p>
    <label for="name">姓名</label>
    <input type="text" name="name" id="name" class="span3" placeholder="输入姓名" />
    <span class="help-inline red" id="_err_name"></span>
  </p>
  <p>
    <label for="address">收货地址</label>
    <input type="text" name="address" id="address" class="span6" placeholder="收货地址" />
    <span class="help-inline red" id="_err_address"></span>
  </p>
  <p>
    <label for="comment">留言</label>
    <textarea id="comment" name="comment" rows="4" class="input-xlarge" placeholder="留言"></textarea>
    <span class="help-inline red" id="_err_comment"></span>
  </p>
  <p>
    <button type="submit" class="btn">提交</button>
  </p>
</form>
<iframe src="javascript:false;" id="pframe" name="pframe" frameborder="0" scrolling="no" style="display:none"></iframe>

<pre class="prettyprint linenums" style="color:#ff0000; background-color:#000000; font-size:12pt; font-family:'DejaVu Sans Mono';">
<span style="color:#f3e651">09 </span>    <span style="color:#ffffff; font-weight:bold">public function</span> <span style="color:#ffcc33">actionCreate</span><span style="color:#f3e651">()</span>
<span style="color:#f3e651">10 </span>    <span style="color:#f3e651">{</span>
<span style="color:#f3e651">11 </span>        <span style="color:#ffffff; font-weight:bold">if</span> <span style="color:#f3e651">(</span><span style="color:#ffffff">$this</span><span style="color:#f3e651">-&gt;</span>context<span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">isPost</span><span style="color:#f3e651">()) {</span>
<span style="color:#f3e651">12 </span>
<span style="color:#f3e651">13 </span>            <span style="color:#ffffff">$this</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">disableView</span><span style="color:#f3e651">();</span>
<span style="color:#f3e651">14 </span>            <span style="color:#ffffff">$elements</span> <span style="color:#f3e651">=</span> <span style="color:#ffffff; font-weight:bold">new</span> <span style="color:#ffcc33">Bull_Form_Element</span><span style="color:#f3e651">();</span>
<span style="color:#f3e651">15 </span>            <span style="color:#ffffff">$posts</span> <span style="color:#f3e651">=</span> <span style="color:#ffffff">$this</span><span style="color:#f3e651">-&gt;</span>context<span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">getPost</span><span style="color:#f3e651">();</span>
<span style="color:#f3e651">16 </span>            
<span style="color:#f3e651">17 </span>            <span style="color:#ffffff; font-weight:bold">foreach</span> <span style="color:#f3e651">(</span><span style="color:#ffffff">$posts</span> <span style="color:#ffffff; font-weight:bold">as</span> <span style="color:#ffffff">$key</span> <span style="color:#f3e651">=&gt;</span> <span style="color:#ffffff">$value</span><span style="color:#f3e651">) {</span>
<span style="color:#f3e651">18 </span>                <span style="color:#ffffff">$elements</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">setElement</span><span style="color:#f3e651">(</span><span style="color:#ffffff">$key</span><span style="color:#f3e651">);</span>
<span style="color:#f3e651">19 </span>            <span style="color:#f3e651">}</span>
<span style="color:#f3e651">20 </span>            
<span style="color:#f3e651">21 </span>            <span style="color:#ffffff">$elements</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">addFilter</span><span style="color:#f3e651">(</span><span style="color:#bb00ff">&quot;name&quot;</span><span style="color:#f3e651">,</span>    <span style="color:#bb00ff">&quot;ValidateNotBlank&quot;</span><span style="color:#f3e651">);</span>
<span style="color:#f3e651">22 </span>            <span style="color:#ffffff">$elements</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">addFilter</span><span style="color:#f3e651">(</span><span style="color:#bb00ff">&quot;address&quot;</span><span style="color:#f3e651">,</span> <span style="color:#bb00ff">&quot;ValidateNotBlank&quot;</span><span style="color:#f3e651">);</span>
<span style="color:#f3e651">23 </span>            <span style="color:#ffffff">$elements</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">addFilter</span><span style="color:#f3e651">(</span><span style="color:#bb00ff">&quot;comment&quot;</span><span style="color:#f3e651">,</span> <span style="color:#bb00ff">&quot;ValidateNotBlank&quot;</span><span style="color:#f3e651">);</span>
<span style="color:#f3e651">24 </span>            <span style="color:#ffffff">$elements</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">setValues</span><span style="color:#f3e651">(</span><span style="color:#ffffff">$posts</span><span style="color:#f3e651">);</span>
<span style="color:#f3e651">25 </span>            <span style="color:#ffffff">$elements</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">validate</span><span style="color:#f3e651">();</span>
<span style="color:#f3e651">26 </span>
<span style="color:#f3e651">27 </span>            <span style="color:#ffffff">$output</span> <span style="color:#f3e651">=</span> <span style="color:#bb00ff">'&lt;html&gt;&lt;head&gt;&lt;meta charset=&quot;utf-8&quot;&gt;&lt;/head&gt;'</span>
<span style="color:#f3e651">28 </span>                    <span style="color:#f3e651">.</span> <span style="color:#bb00ff">'&lt;body&gt;&lt;script language=&quot;javascript&quot;&gt; if (parent) {'</span><span style="color:#f3e651">;</span>
<span style="color:#f3e651">29 </span>            <span style="color:#ffffff; font-weight:bold">if</span> <span style="color:#f3e651">(</span><span style="color:#ffffff">$elements</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">isFailure</span><span style="color:#f3e651">()) {</span>
<span style="color:#f3e651">30 </span>                <span style="color:#ffffff">$errors</span> <span style="color:#f3e651">=</span> <span style="color:#ffcc33">array_filter</span><span style="color:#f3e651">(</span><span style="color:#ffffff">$elements</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">getInvalids</span><span style="color:#f3e651">());</span>
<span style="color:#f3e651">31 </span>                <span style="color:#ffffff; font-weight:bold">foreach</span><span style="color:#f3e651">(</span><span style="color:#ffffff">$errors</span> <span style="color:#ffffff; font-weight:bold">as</span> <span style="color:#ffffff">$id</span> <span style="color:#f3e651">=&gt;</span> <span style="color:#ffffff">$txt</span><span style="color:#f3e651">) {</span>
<span style="color:#f3e651">32 </span>                    <span style="color:#ffffff">$txt</span> <span style="color:#f3e651">=</span> <span style="color:#ffffff">$txt</span><span style="color:#f3e651">[</span><span style="color:#aaff00">0</span><span style="color:#f3e651">];</span>
<span style="color:#f3e651">33 </span>                    <span style="color:#ffffff">$output</span> <span style="color:#f3e651">.=</span>  <span style="color:#bb00ff">&quot;parent._form_exception('$id', '$txt');&quot;</span><span style="color:#f3e651">.</span>PHP_EOL<span style="color:#f3e651">;</span>
<span style="color:#f3e651">34 </span>                <span style="color:#f3e651">}</span>
<span style="color:#f3e651">35 </span>            <span style="color:#f3e651">}</span> <span style="color:#ffffff; font-weight:bold">else</span> <span style="color:#f3e651">{</span>
<span style="color:#f3e651">36 </span>                <span style="color:#ffffff">$model</span> <span style="color:#f3e651">=</span> Framework_Model_Db_Shop<span style="color:#f3e651">::</span><span style="color:#ffcc33">getInstance</span><span style="color:#f3e651">();</span>
<span style="color:#f3e651">37 </span>                <span style="color:#ffffff">$res</span> <span style="color:#f3e651">=</span> <span style="color:#ffffff">$model</span><span style="color:#f3e651">-&gt;</span><span style="color:#ffcc33">insert</span><span style="color:#f3e651">(</span><span style="color:#ffffff">$posts</span><span style="color:#f3e651">);</span>
<span style="color:#f3e651">38 </span>                <span style="color:#ffffff; font-weight:bold">if</span> <span style="color:#f3e651">(</span><span style="color:#ffffff">$res</span><span style="color:#f3e651">) {</span>
<span style="color:#f3e651">39 </span>                    <span style="color:#ffffff">$output</span> <span style="color:#f3e651">.=</span> <span style="color:#bb00ff">&quot;parent._form_exception('', '插入成功！');&quot;</span><span style="color:#f3e651">.</span>PHP_EOL<span style="color:#f3e651">;</span>
<span style="color:#f3e651">40 </span>                <span style="color:#f3e651">}</span>
<span style="color:#f3e651">41 </span>            <span style="color:#f3e651">}</span>
<span style="color:#f3e651">42 </span>            
<span style="color:#f3e651">43 </span>            <span style="color:#ffffff">$output</span> <span style="color:#f3e651">.=</span> <span style="color:#bb00ff">'}&lt;/script&gt;&lt;/body&gt;&lt;/html&gt;'</span><span style="color:#f3e651">;</span>
<span style="color:#f3e651">44 </span>            <span style="color:#ffffff; font-weight:bold">echo</span> <span style="color:#ffffff">$output</span><span style="color:#f3e651">;</span>
<span style="color:#f3e651">45 </span>            <span style="color:#ffffff; font-weight:bold">return</span> <span style="color:#f3e651">;</span>
<span style="color:#f3e651">46 </span>        <span style="color:#f3e651">}</span>
<span style="color:#f3e651">47 </span>    <span style="color:#f3e651">}</span>
</pre>
{% endblock %}