html{height: 100%}
html{background-color: rgba(0,170,170,.8)}
.wapper,body{background: none}

.register-wapper{padding-top: 20px}
.register-main { width:100%;height:400px;margin: 0 auto }
.register-main h1 { text-align: center }
.register-main .ck-line:after{background: #ce3d00}
.register-main .slogan{padding-top: 20px;margin:0 auto; color: #FFFFFF; text-align:center; font-size: 20px;}

.register-box{width: 300px;margin: 0 auto;}
.register-box .line{padding-top: 30px;color: #333;font-size: 18px}
.register-box input {border: 1px solid #DFDFDF;box-shadow: 0 0 3px 0 #efefef inset;padding: 8px 10px;width:100%;font-size: 16px;color: #787878;border-radius: 4px}
.register-box input:focus { box-shadow: 0 0 3px 0 #dfdfdf inset}
.register-box .tag { padding-bottom: 4px }

.register-submit-box{padding-top: 30px}
.register-submit-btn{border: none;font-size: 16px;}
