.loading{font-size: 28px;color: #00A9A9}
.loading span{display: block;float: left;margin-right: 20px}
.loading span:last-child{margin-right: 0}


.loading>:nth-child(2) .animate-wave{-webkit-animation-delay:.2s;animation-delay:.2s}
.loading>:nth-child(3) .animate-wave{-webkit-animation-delay:.4s;animation-delay:.4s}
.loading>:nth-child(4) .animate-wave{-webkit-animation-delay:.6s;animation-delay:.6s}
.loading>:nth-child(5) .animate-wave{-webkit-animation-delay:.8s;animation-delay:.8s}
.loading>:nth-child(6) .animate-wave{-webkit-animation-delay:1s;animation-delay:1s}
.loading>:nth-child(7) .animate-wave{-webkit-animation-delay:0s;animation-delay:0s}
.loading>:nth-child(8) .animate-wave{-webkit-animation-delay:.2s;animation-delay:.2s}
.loading>:nth-child(9) .animate-wave{-webkit-animation-delay:.4s;animation-delay:.4s}



.loading>:nth-child(2){-webkit-animation-delay:.1s;animation-delay:.1s}
.loading>:nth-child(3){-webkit-animation-delay:.2s;animation-delay:.2s}
.loading>:nth-child(4){-webkit-animation-delay:.3s;animation-delay:.3s}
.loading>:nth-child(5){-webkit-animation-delay:.4s;animation-delay:.4s}
.loading>:nth-child(6){-webkit-animation-delay:.5s;animation-delay:.5s}
.loading>:nth-child(7){-webkit-animation-delay:.6s;animation-delay:.6s}
.loading>:nth-child(8){-webkit-animation-delay:.7s;animation-delay:.7s}
.loading>:nth-child(9){-webkit-animation-delay:.8s;animation-delay:.8s}



.loading .rotate-1{-webkit-transform:rotate(-20deg);}
.loading .rotate-2{-webkit-transform:rotate(10deg);}
.loading .rotate-3{-webkit-transform:rotate(-20deg);}
.loading .rotate-4{-webkit-transform:rotate(10deg);}
.loading .rotate-5{-webkit-transform:rotate(-15deg);}
.loading .rotate-6{-webkit-transform:rotate(20deg);}


.loading-animate span{
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-timing-function: linear ;
	animation-timing-function: linear ;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite; 
	animation-iteration-count: infinite; 
}

.loading-animate .animate-falldwon{
	-webkit-animation-duration: .5s;
 	animation-duration: .5s;
 	-webkit-animation-iteration-count: 1; 
 	animation-iteration-count: 1; 
}


.loading-animate .animate-wave{
	-webkit-animation-name: loading-animate;
	animation-name: loading-animate;
}
.loading-animate .animate-falldwon{
	-webkit-animation-name: loading-animate-falldown ;
	animation-name: loading-animate-falldown ;
}

.loading-animate>span:nth-child(odd) .rotate{
	-webkit-animation-name: loading-animate-rotate ;
	animation-name: loading-animate-rotate ;
}

.loading-animate>span:nth-child(even) .rotate{
	-webkit-animation-name: loading-animate-despin ;
	animation-name: loading-animate-despin ;
}


@-webkit-keyframes loading-animate-rotate {
  0% {
    -webkit-transform:rotate(20deg);
  }
  50% {
    -webkit-transform:rotate(-20deg);
  }
  100%{
    -webkit-transform:rotate(20deg);
  }
}
@keyframes loading-animate-rotate {
  0% {
    transform:rotate(20deg);
  }
  50% {
    transform:rotate(-20deg);
  }
  100%{
    transform:rotate(20deg);
  }
}

@-webkit-keyframes loading-animate-despin {
  0% {
    -webkit-transform:rotate(-20deg);
  }
  50% {
    -webkit-transform:rotate(20deg);
  }
  100%{
    -webkit-transform:rotate(-20deg);
  }
}
@keyframes loading-animate-despin {
  0% {
    transform:rotate(-20deg);
  }
  50% {
    transform:rotate(20deg);
  }
  100%{
    transform:rotate(-20deg);
  }
}


@-webkit-keyframes loading-animate {
  0% {
    -webkit-transform: translateY(-80%);
  }
  50% {
    -webkit-transform: translateY(0);
  }
  100%{
    -webkit-transform: translateY(-80%);
  }
}
@keyframes loading-animate {
  0% {
    transform: translateY(-80%);
  }
  50% {
    transform: translateY(0);
  }
  100%{
    transform: translateY(-80%);
  }
}

@-webkit-keyframes loading-animate-falldown {
  0% {
    -webkit-transform: translateY(-1500px);
  }
  100%{
    -webkit-transform: translateY(0);
  }
}
@keyframes loading-animate-falldown {
  0% {
    transform: translateY(-1500px);
  }
  100%{
    transform: translateY(0);
  }
}