<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bull Framework for PHP 5.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <base href="http://172.22.163.10:8080/bull/" />
    <!-- Le styles -->
    <link href="Framework/Public/assets/css/bootstrap.css" rel="stylesheet">
    <link href="Framework/Public/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .red {
          color:red;
      }
    </style>
    <link href="Framework/Public/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="Framework/Public/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Framework/Public/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Framework/Public/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Framework/Public/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="Framework/Public/assets/ico/apple-touch-icon-57-precomposed.png">
      <script type="text/javascript">
        function _form_exception(id, txt) {
            $('#' + id).focus();
            var object = $('#_err_' + id);
            if (object.length > 0) {
                object.text(txt);
            } else {
                alert(txt);
            }
        }
      </script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Bull Framework</a>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> BullSoft
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">个人资料</a></li>
              <li class="divider"></li>
              <li><a href="#">注销</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="{% if controller=="home" %}active{% endif %}"><a href="home">Home</a></li>
              <li class="{% if controller=="demo" %}active{% endif %}"><a href="demo">Demo</a></li>
              <li class="{% if controller=="about" %}active{% endif %}"><a href="about">About</a></li>
              <li class="{% if controller=="contact" %}active{% endif %}"><a href="contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
